@import url("http://fonts.googleapis.com/css?family=Lato|Rufina");
@import "bourbon/bourbon";

//Gallery layout
div.gallery {
    margin: 0px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: 80%;
    float: left;
   }

div.listing {
	height: 220px;
	display: inline-block;
}

.listing p {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}

